.container{
    margin-left: 30px;
    top: 100px;
}
.form {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 10px 0;
}

.input {
  width: 300px;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.4);
  padding-left: 10px;
  font-size: 17px;
  transition: 300ms;
}

.input:hover{
border: 1px solid rgba(0, 0, 0, 1);
}

.button {
  background-color: #fafafa;
  transition: 500ms;
  margin-left: 10px;
  color: black;
  border: 1px solid rgba(0, 0, 0, 0.4);
  background-color: rgba(128, 128, 128, 0.3);
}

.button:hover {
  background-color: black;
  color: white;
}
